.container{
    margin:0 auto;
    width: 950px;
}
.time_container{
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    border: 2px solid black;
    width: 200px;
}
.time_info{
    margin: 0 auto;
    margin-top: 15px;
    width: 600px;
    border: 2px solid black;
    text-align: center;
}
